.header {
  position: fixed;
  height: 80px;
  width: 100%;
}

.list {
  display: flex;
  justify-content: center;

  li:first-child {
    margin-right: 30px;
  }
}

.main {
  padding: 80px 60px 0;
}
