@import "/src/utils/variables.scss";

.card {
  position: relative;
  width: 380px;
  height: 460px;
  border-radius: 20px;
  background: $card-background;
  font-family: $font;
  color: $secondary-color;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  box-shadow: $card-box-shadow;
  text-align: center;
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
}

.picture {
  position: absolute;
  top: 28px;
  left: 50%;
  transform: translate(-50%, 0);
}

.avatar {
  position: absolute;
  border-radius: 50%;
  top: 178px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 80px;
  height: 80px;
  background-color: $secondary-color;
  box-shadow: $avatar-box-shadow;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    border-radius: 50%;
    width: 63px;
    height: 63px;
  }
}

.line {
  position: absolute;
  top: 214px;
  width: 100%;
  height: 8px;
  background-color: $secondary-color;
  box-shadow: $line-box-shadow;
}

.info {
  position: absolute;
  bottom: 0;
  padding-bottom: 36px;
  text-align: center;
  width: 100%;

  p {
    margin-top: 16px;
  }
}

.btn {
  position: relative;
  width: 196px;
  height: 50px;
  margin-top: 25px;
  border: transparent;
  border-radius: 10px;
  background: $secondary-color;
  box-shadow: $btn-box-shadow;
  text-transform: uppercase;
  font-family: $font;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: $btn-text-color;
  transition: all 0.3s;

  &:hover {
    background: #ae7be3;
    transition: all 0.3s;
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 10px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 5px 20px white;
  }

  &:active:after {
    box-shadow: 0 0 0 0 white;
    position: absolute;
    border-radius: 10px;
    left: 0;
    top: 0;
    opacity: 1;
    transition: 0s;
  }

  &:active {
    top: 1px;
  }
}

.followed {
  background: $btn-active;
}
